/*RESET*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root{
  --color-fondo: #010101;
  --color-texto-claro: #f5f5f5;
  --color-acento: #eefb03;
  --color-acento-sombra: #effb0375;
  --color-texto-oscuro: #111111;
  --color-hover: #fbe603;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto-claro);
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
}

/*------------ HEADER ----------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: var(--color-acento);
}

.header__logo{
  max-width: 3em;
  max-height: 3em;
}

.header__logo img {
  max-width: 100%;
}

.nav__btn{
  max-width: 3em;
  max-height: 3em;
  font-size: 2em;
  color: var(--color-texto-oscuro);
}

.nav {
  display: none;
  margin-right: 20px;
}

.nav__list {
  list-style: none;
}

.nav-item {
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover,
.nav-link.active {
  color: #eefb03;
  border-bottom: 2px solid #eefb03;
}

/*------------- SECCION INICIO -----------*/

h1 {
  font-size: clamp(0.8em, 35px, 4em);
  padding: 0;
  margin: 0;
}

.home {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
}

.home__content p {
  width: inherit;
  font-size: clamp(0.8em, 16px, 1.5em);
  margin-top: 1em;
}

.home__img {
  width: clamp(70%, 100px, 50%);
}

.home__img img {
  width: 100%;
}


/*-----------BOTONES---------*/
.button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.button__item{
  background-color: var(--color-acento);
  width: clamp(100%, 50%, 20%);
  height: 25px;
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__item:hover{
  background-color: var(--color-hover);
  color: var(--color-texto-claro);
}

/*------------BOTON ENDS ----------*/

.home__arrow {
  font-size: 30px;
  color: var(--color-acento);
  margin-top: 1.5em;
}

/*---------- SECCIÓN IA GENERATIVA QUE ES ----------*/
.que__es {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub__title {
  margin-top: 4em;
  text-align: center;
}

.que__es-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding: 3em;
  font-size: 0.8em;
}

.title__h3 {
  font-size: 1.2em;
  margin: 12px 0px;
}

.que__es-content p, .content--list{
  line-height: 1.6em;
}

.content--list li {
  font-size: 1em;
  margin-top: 10px;
}

/*------------ SECCIÓN IA GENERATIVA EJEMPLOS ------------*/
.ia-generativa{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.ia-generativa p {
  font-size: 0.8em;
  margin: 20px;
}

.ia-generativa-container {
  display: flex;
  flex-direction: column;
}

.ia-generativa-card {
  max-width: 430px;
  height: 470px;
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--color-acento);
  border-radius: 8px;
  z-index: 20;
}

.ia-generativa-card:hover{
  box-shadow: 5px 5px 90px var(--color-acento-sombra);
  z-index: 10;
}

.ia-generativa-card .title__h3 {
  text-align: center;
  margin-top: 20px;
}

.logo-chatgpt {
  display: block;
  width: 150px !important;
  padding: 0px !important;
}

.logo-otter {
  display: block;
  margin-bottom: 12px !important;
}

.ia-generativa-card img {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding: 20px 0px;
}

.ia-generativa-card p {
  width: auto;
  margin-bottom: 35px;
}

.ia-generativa-card button {
  display: block;
  margin: 0 auto;
}
/********* SECCIÓN CONTACTO *********/

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 100px;
}

.contact-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.contact-content h2 {
  font-size: 5vw;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.contact-content p {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.5vw;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #545454;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

.contact-content form {
  text-align: right;
}

/* Estilos para el footer */
.footer {
  width: 100%;
  padding: 20px 0;
  color: #ffffff;
  border-top: 1px solid #545454;
}

.footer p {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

/*-------------- RESPONSIVE -------------*/
/*
@media screen and (max-width: 720px) {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
    position: sticky;
    z-index: 1000;
  }

  .menu__btn{
    max-width: 1.5em;
    max-height: 1.5em;
    color: var(--color-acento);
    margin-right: 1.5em;
    cursor: pointer;
  }
  
  .bi-list{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
  }

  .logo{
    max-width: 1.5em;
    max-height: 1.5em;
  }

  .logo img {
    width: 100%;
  }

  .nav-bar{
    background-color: var(--color-fondo);
    max-width: 450px;
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    font-size: 2em;
    transition: .3s ease;
    color: var(--color-fondo);
  }

  .nav-bar.active{
    right: 0;
  }

  .nav-item {
    padding: 10px;
  }

  .nav-link {
    text-align: center;
    font-size: 2.9vw;
  }

  .inicio img {
    display: none;
  }

  .info-container{
    margin-top: 100px;
  }

  h1 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 30px;
  }

  .info-container p {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }

  .btn {
    font-size: 3vw;
    display: block;
    margin: 40px auto;
  }

  i {
    top: 170vw;
    margin: 0 auto;
  }

  .que-es {
    justify-content: center;
    align-items: center;
  }
  
  .que-es-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-ia-conteiner1, .info-ia-conteiner2 {
    width: 100%;
    padding: 5px;
    margin: 10px auto 20px;
  }
  
  p,
  .listado > li {
    font-size: 4vw;
    width: 90%;
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
  }
  
  .ia-titulo {
    font-size: 6vw;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .sub {
    margin: 200px 0px 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 4vw;
  }
  
  .boton-verejemplos {
    display: none;
  }

  .ia-generativa h2 {
    font-size: 7vw;
  }

  .ia-generativa p {
    width: 90%;
    font-size: 3.5vw;
  }

  .ia-generativa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ia-generativa-container {
    display: flex;
    align-items: center;
  }

  .ia-generativa-card {
    max-width: 430px;
    height: 470px;
    margin-top: 20px;
    padding: 10px;
  }

  .ia-generativa-card h3 {
    font-size: 5vw;
  }

  .contact-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    margin-top: 30px;
  }

  .contact-content {
    width: 90%;
    max-width: 600px;
    text-align: center;
  }

  .contact-content h2 {
    font-size: 9vw;
    margin-bottom: 10px;
  }

  .contact-content p {
    font-size: 3vw;
  }
}
*/