/*RESET*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root{
  --color-fondo: #010101;
  --color-texto-claro: #f5f5f5;
  --color-acento: #eefb03;
  --color-acento-sombra: #effb0326;
  --color-texto-oscuro: #111111;
  --color-hover: #fbe603;
  --color-sombra-oscuro: #00000079;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto-claro);
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
}

/*------------ HEADER ----------*/

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  position: sticky;
  top: 0;
  background-color: var(--color-fondo);
  z-index: 1000;
}

/*Estilo del logo*/
.header__logo{
  max-width: 3em;
  max-height: 3em;
  margin: 10px;
}

.header__logo img {
  max-width: 100%;
}

/*Estilo del nav*/

.header__nav{
  background-color: var(--color-fondo);
  max-width: 400px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 1em;
  transition: right .3s ease;
  color: var(--color-fondo);
  padding: 2em;
  gap: 1em;
  box-shadow: -2px 0 5px var(--color-texto-oscuro);
}

.header__nav.active{
  right: 0;
}

.nav__list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav__item{
  display: flex;
  margin: 1.4em 0;
}

.nav-link {
  text-decoration: none;
  color: var(--color-texto-claro);
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-hover);
}

.nav__btn{
  font-size: 2em;
  margin: 10px;
  background: none;
  cursor: pointer;
  color: var(--color-acento);
  border: none;
}

.close-btn{
  align-self: flex-end;
}

/*------------- SECCION INICIO -----------*/

h1 {
  font-size: clamp(0.8em, 35px, 4em);
  padding: 0;
  margin: 0;
}

.home {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.home__content p {
  width: inherit;
  font-size: clamp(0.8em, 16px, 1.5em);
  margin-top: 1em;
}

.home__img {
  width: clamp(15em, 100px, 50%);
}

.home__img img {
  width: 100%;
}


/*-----------BOTONES---------*/
.button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  height: 40px;
}

.button__item{
  background-color: var(--color-acento);
  width: clamp(10em, 50%, 20%);
  height: 25px;
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__item:hover{
  background-color: var(--color-hover);
  color: var(--color-texto-claro);
}

/*------------BOTON ENDS ----------*/

.home__arrow {
  font-size: 30px;
  color: var(--color-acento);
  margin-top: 1.5em;
}

/*---------- SECCIÓN IA GENERATIVA QUE ES ----------*/
.que__es {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub__title {
  margin: 4em 30px 0px;
  text-align: center;
}

.que__es-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding: 3em;
  font-size: 0.8em;
}

.title__h3 {
  font-size: 1.2em;
  margin: 12px 0px;
}

.que__es-content p, .content--list{
  line-height: 1.6em;
}

.content--list li {
  font-size: 1em;
  margin-top: 10px;
}

/*------------ SECCIÓN IA GENERATIVA EJEMPLOS ------------*/
.ia-generativa{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.ia-generativa p {
  font-size: 0.8em;
  padding: 20px;
}

.ia-generativa__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ia-generativa-card {
  max-width: 20em; /*320px*/
  height: 30em; /*480px*/
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--color-acento);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ia-generativa-card:hover{
  box-shadow: 5px 5px 90px var(--color-acento-sombra);
}

.ia-generativa-card .title__h3 {
  text-align: center;
  margin-top: 20px;
}

.logo-chatgpt {
  display: block;
  width: 150px !important;
  padding: 0px !important;
}

.logo-otter {
  display: block;
  margin-bottom: 12px !important;
}

.ia-generativa-card img {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding: 20px 0px;
}

.ia-generativa-card p {
  width: auto;
  margin-bottom: 35px;
}

/*----------- SECCIÓN CONTACTO -----------*/
.section__contact{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__content {
  width: 100%;
  text-align: center;
}

.contact__content p {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.contact__form {
  width: clamp(50%, 24em, 100%);
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: auto;
}

.contact__form label{
  margin: 10px 0;
}

.contact__form input, textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-left: 3px solid var(--color-acento);
  padding: 1em;
  resize: none;
  color: var(--color-texto-claro);
}

.contact__form input[type=submit]{
  border: none;
  background-color: var(--color-acento);
  color: var(--color-texto-oscuro);
  text-align: center;
  border-radius: 10px;
  margin-top: 2em;
}

.contact__form input:focus, textarea:focus{
  border-color: none;
  outline: none;
}

fieldset {
  width: clamp(10em, 500px, 20em);
  display: flex;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
}

legend{
  padding: 0 20px;
  font-size: 1.2em;
}

/* Estilos para el footer */
.footer {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #545454;
  margin-top: 30px;
}

.footer p {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 1em;
}

/*-------------- RESPONSIVE -------------*/

@media screen and (min-width: 480px) and (max-width: 1080px){
  .button{
    justify-content: center;
    align-items: center;
  }

  

  .home__content h1, p{
    text-align: center;
    justify-items: center;
    align-items: center;
    
  }
  
  .ia-generativa>p{
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-width:1081px){
  .header__nav{
    display: block;
    position: static;
    height: auto;
    max-width: auto;
    padding: 0;
    margin-right: 120px;
  }

  .nav__list{
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 0;
    padding-right: 40px;

  }

  .nav__item{
    width: auto;
    margin: 0;
  }
  
  .nav__btn{
    display: none;
  }
}